name: Java CI

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Get HMCL release tag
        run: |
          echo "hmcl_version=$(jq -r .tag_name <<< $(curl https://api.github.com/repos/huanghongxun/HMCL/releases/latest))" >> $GITHUB_ENV
          echo "local_version=$(jq -r .tag_name <<< $(curl https://api.github.com/repos/${{ env.GITHUB_ACTION_REPOSITORY }}/releases/latest))" >> $GITHUB_ENV

      - uses: actions/checkout@v3
        with:
          repository: "huanghongxun/HMCL"
          ref: ${{ env.hmcl_version }}
          submodules: true

      - name: Target Java 17
        run: |
          sed -i '/targetCompatibility =/c targetCompatibility = "17"' build.gradle.kts HMCL/build.gradle.kts

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "17"
          java-package: jdk+fx

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current

      - name: Build with Gradle
        run: |
          hmcl_version='${{ env.hmcl_version }}'
          VERSION_TYPE=stable BUILD_NUMBER="${hmcl_version##*.}" ./gradlew build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: HMCL-${{ env.hmcl_version }}
          path: HMCL/build/libs

      - name: Publish a new release
        uses: softprops/action-gh-release@v1
        if: ${{ env.local_version }} != ${{ env.hmcl_version }}
        with:
          files:
