name: Java CI

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Get HMCL release tag
        run: |
          hmcl_version="$(jq -r .tag_name <<< $(curl https://api.github.com/repos/huanghongxun/HMCL/releases/latest))"
          hmcl_numerical_version=${hmcl_version#*v}
          echo "hmcl_version=$hmcl_version" >> $GITHUB_ENV
          echo "hmcl_numerical_version=$hmcl_numerical_version" >> $GITHUB_ENV
          echo "local_version=$(jq -r .tag_name <<< $(curl https://api.github.com/repos/${{ env.GITHUB_ACTION_REPOSITORY }}/releases/latest))" >> $GITHUB_ENV

      - uses: actions/checkout@v3
        with:
          repository: "huanghongxun/HMCL"
          ref: ${{ env.hmcl_version }}
          submodules: true

      - name: Target Java 17
        run: |
          sed -i '/targetCompatibility =/c targetCompatibility = "17"' build.gradle.kts HMCL/build.gradle.kts

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "17"
          java-package: jdk+fx

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current

      - name: Build with Gradle
        run: |
          hmcl_version='${{ env.hmcl_numerical_version }}'
          hmcl_version_array=(${hmcl_version//./ })
          reproducible_builds_flags='tasks.withType<AbstractArchiveTask>().configureEach{isPreserveFileTimestamps=false;isReproducibleFileOrder=true}'
          echo "$reproducible_builds_flags" >> HMCL/build.gradle.kts
          echo "$reproducible_builds_flags" >> minecraft/libraries/log4j-patch/build.gradle.kts
          VERSION_TYPE=stable VERSION_ROOT="${hmcl_version_array[0]}.${hmcl_version_array[1]}.${hmcl_version_array[2]}" BUILD_NUMBER="${hmcl_version_array[3]}" \
          ./gradlew build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: HMCL-${{ env.hmcl_version }}
          path: HMCL/build/libs

      - name: Publish a new release
        uses: softprops/action-gh-release@v1
        if: ${{ env.local_version != env.hmcl_version }}
        with:
          files: HMCL/build/libs/HMCL-${{ env.hmcl_numerical_version }}.jar
          tag_name: ${{ env.hmcl_version }}
          fail_on_unmatched_files: true
